[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "saros"]
	path = saros
	url = https://github.com/nifu-no/saros
[submodule "saros.base"]
	path = saros.base
	url = https://github.com/nifu-no/saros.base
